{% load static %}

<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
<script src="{% static 'js/toastr-options.js' %}"></script>
<script src="{% static 'js/inputmasks-init.js' %}"></script>
<script src="{% static 'js/tooltips-init.js' %}"></script>
<script src="{% static 'js/flatpickr-init.js' %}"></script>
<script src="{% static 'js/autosize-init.js' %}"></script>
<script src="{% static 'js/chartjs-init.js' %}"></script>
