{% extends "base.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Acesso negado (403)" %}
{% endblock title %}
{% block content %}
  <div class="d-flex flex-column flex-center flex-column-fluid p-10">
    <img src="{% static 'assets/images/illustrations/sketchy-1/2.png' %}"
         class="mw-100 mb-10 h-lg-450px theme-light-show"
         alt="no-permission" />
    <img src="{% static 'assets/images/illustrations/sketchy-1/2-dark.png' %}"
         class="mw-100 mb-10 h-lg-450px theme-dark-show"
         alt="no-permission-dark" />
    <h1 class="fw-semibold mb-10">
      {% if exception %}
        {{ exception }}
      {% else %}
        {% trans "Parece que não há nada aqui." %}
      {% endif %}
    </h1>
    <a href="{% url 'dashboard:index' %}"
       class="btn btn-lg btn-primary fw-bold">
      {% trans "Voltar ao dashboard" %}
    </a>
  </div>
{% endblock content %}
